:root {
  /* ========================= */
  /* ========================= */
  --red-50:  #f8e6e5;
  --red-100: #f1cdcb;
  --red-200: #e39a97;
  --red-300: #d56762;
  --red-400: #c7342e;
  --red-500: #9d1f15; /* BASE */
  --red-600: #8d1c13;
  --red-700: #6b150e;
  --red-800: #480f0a;
  --red-900: #260805;

  /* ========================= */
  /* WHITE (#FFFFFF)           */
  /* ========================= */
  --white-50:  #ffffff;
  --white-100: #fdfdfd;
  --white-200: #fbfbfb;
  --white-300: #f8f8f8;
  --white-400: #f5f5f5;
  --white-500: #f2f2f2;
  --white-600: #e6e6e6;
  --white-700: #d9d9d9;
  --white-800: #cccccc;
  --white-900: #bfbfbf;

  /* ========================= */
  /* BLACK (#000000)           */
  /* ========================= */
  --black-50:  #f2f2f2;
  --black-100: #d9d9d9;
  --black-200: #bfbfbf;
  --black-300: #a6a6a6;
  --black-400: #8c8c8c;
  --black-500: #737373;
  --black-600: #595959;
  --black-700: #404040;
  --black-800: #262626;
  --black-900: #000000; /* BASE */


  /* Font sizes */
  --font-xxs: 0.625rem;  /* 10px */
  --font-xs:  0.75rem;   /* 12px */
  --font-sm:  0.875rem;  /* 14px */
  --font-md:  1rem;      /* 16px */
  --font-lg:  1.125rem;  /* 18px */
  --font-xl:  1.25rem;   /* 20px */
  --font-2xl: 1.5rem;    /* 24px */
  --font-3xl: 1.875rem;  /* 30px */
  --font-4xl: 2.25rem;   /* 36px */
  --font-5xl: 3rem;      /* 48px */
  --font-6xl: 3.75rem;   /* 60px */
  --font-7xl: 4.5rem;    /* 72px */
}

// @media (prefers-color-scheme: dark) {
//   :root{
//     --main-primary: var(--orange-600);
//     --main-primary-light: var(--orange-500);
//     --main-secondary: var(--navy-600);
//     --main-secondary-light: var(--navy-500);
//     --main-tertiary: var(--white-300);
//     --main-tertiary-light: var(--white-200);
//     --text-primary: var(--navy-900);
//     --text-primary-light: var(--navy-800);
//     --text-errors: rgb(170, 0, 0);
//     --text-secondary: var(--white-300);
//     --text-secondary-light: var(--white-100);
//   }
// }
// @media (prefers-color-scheme: light) {
:root{
  --main-primary: var(--red-500);
  --main-primary-light: var(--red-400);
  --main-primary-lighter: var(--red-100);
  --main-secondary: var(--black-400);
  --main-secondary-light: var(--black-300);
  --main-tertiary: var(--white-400);
  --main-tertiary-light: var(--white-300);
  --text-primary: var(--black-800);
  --text-primary-light: var(--black-700);
  --text-errors: rgb(255, 0, 0);
  --text-secondary: var(--white-200);
  --text-secondary-light: var(--white-100);
}
// }