@use "../../../assets/scss_reusable/functions_mixins.scss" as *;

.form {
  @include flex(stretch, stretch, rem(20), column);
  width: 100%;
  &_labels {
    @include flex(flex-start, center, rem(5), column);
    width: 100%;
    &_names {
      color: var(--text-primary-light);
      font-size: var(--font-lg);
      font-weight: 400;
    }
    &_inputs {
      width: 100%;
      font-size: var(--font-md);
      font-weight: 400;
      padding: rem(16) rem(20);
      box-shadow: 0px 0px 5px -3.9px black;
	background: rgba(157, 31, 21, 0.05);
      color: var(--text-primary);
      border-radius: 9999px;
      &::placeholder {
        color: rgb(128, 128, 128);
      }
      &:disabled {
        opacity: 0.6;
      }
    }
    .phone_wrapper {
      width: 100%;
      box-shadow: 0px 0px 5px -3.9px black;
	background: rgba(157, 31, 21, 0.05);
      border-radius: 9999px;
	@include flex(center, flex-start);
      .country_code {
        padding: rem(5) rem(8);
        height: 100%;
        font-size: var(--font-md);
        font-weight: 500;
        color: var(--text-primary);
        width: max-content;
	border-right: 2px solid var(--text-primary);
      }
      &_input {
        width: 100%;
        font-size: var(--font-md);
        font-weight: 400;
      	border-radius: 0 9999px 9999px 0;
      	padding: rem(19) rem(20);
        color: var(--text-primary);
        &::placeholder {
          color: rgb(128, 128, 128);
        }
        &:disabled {
          opacity: 0.6;
        }
      }
    }
    &_error {
      color: red;
      font-size: var(--font-sm);
      font-weight: 500;
    }
    div {
      position: relative;
      width: 100%;
      button {
        position: absolute;
        top: 50%;
        right: rem(20);
        transform: translateY(-50%);
        cursor: pointer;
      }
    }
  }
  .submit_button {
    @include flex(center, center);
    width: 100%;
    font-size: var(--font-md);
    font-weight: 500;
    padding: rem(10) rem(15);
    background: var(--main-primary);
    color: var(--text-secondary);
    border-radius: 9999px;
    margin-top: rem(10);
    &:hover {
      background: var(--main-primary-light);
    }
    &:disabled {
      opacity: 0.6;
    }
  }
}
